<ion-view view-title="Configurações de perfil">
  <div class="bar bar-header bar-custom">
    <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="goBack()"></button>
    <h1 class="title"><img class="title-image" src="http://www.ionicframework.com/img/ionic-logo-white.svg" width="123" height="43" /></h1>
  </div>
  <ion-content scroll="false">

    <div class="list card" style="margin-top: 50px">
      <ul>
        <li class="item item-divider">
          Notificações
        </li>
        <li class="item item-toggle">
          Ofertas na sua cidade
          <label class="toggle toggle-positive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Novas mensagens
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          Novo preço de um produto do seu interesse
          <label class="toggle toggle-balanced">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      </ul>
    </div>
    </div>
  </ion-content>
</ion-view>