<ion-content>
  <div class="item item-avatar">
    <img src="{{user.picture}}">
    <h2>{{user.name}}</h2>
    <p>Nenhuma compra realizada</p>
  </div>
  <div>

    <div class="list">

      <a class="item item-icon-left" ui-sref="config-profile">
        <i class="icon ion-person"></i> Configurações de perfil
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-card"></i> Configurações de compras
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-notifications"></i> Notificações
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-trophy"></i> Conquistas
        <span class="badge badge-balanced"> 
        0
    </span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i> Amigos
        <span class="item-note">27</span>
      </a>

      <a class="item item-icon-left" ng-click="send()">
        <i class="icon ion-alert-circled"></i> Relatar um problema
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-information-circled"></i> Sobre
      </a>
    </div>
    
    <div class="padding">
      <a class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">Sair</a>
    </div>
</ion-content>