<ion-view view-title="Cadastro">
  <div class="bar bar-header bar-assertive">
    <h1 class="title"><img class="title-image" src="http://www.ionicframework.com/img/ionic-logo-white.svg" width="123" height="43" /></h1>
    
  </div>
  <ion-content class="padding first-page">
    <div class="content">
    
      <div class="list">

        <div class="login-buttons">
          <label class="item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="Email">
          </label>
          <label class="item-input item-floating-label">
            <span class="input-label">Senha</span>
            <input type="password" placeholder="Senha">
          </label>
          <label class="item-input item-floating-label">
            <span class="input-label">Confirmar senha</span>
            <input type="password" placeholder="Senha">
          </label>
          <div class="text-center">
            <button class="button button-outline button-block button-dark">
              Continuar <i class="ion-log-in"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>