.first-page {
  background: linear-gradient(to right, #ff7b0d 0%,#ffa84c 100%);
  .content{
    margin-top: 30px;
  }
  .login-buttons {
    margin-bottom: 20px;
    input {
      color: #FFFFFF;
      border-bottom: 1px solid white;
    }
  }

  .facebook-sign-in {
    background-color: #3b5998;
    color: white;
    span {
      font-family: 'Tahoma';
      font-weight: bold;
      font-size: 18px;
    }
    &:active{
     background-color: darken(#3b5998,20%);
    }
  }
  .google-sign-in {
    background-color: #dd4b39;
    color: white;
     span {
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 18px;
    }
    &:active{
     background-color: darken(#dd4b39,20%);
    }
  }
  .logo {
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
  .cadastrar{
    width: 55%;
  }
}

.icon-large {
  font-size: 28px;
}

.same-line {
  margin-top: -45px;
}

ion-nav-bar{
  background-color: black;
}