.first-page {
  background-color: black;
  background-image: url("/img/giphy.gif");
  background-size: 100%;
  background-repeat: no-repeat; }
  .first-page .content {
    margin-top: 30px; }
  .first-page .login-buttons {
    margin-bottom: 20px; }
    .first-page .login-buttons input {
      color: #FFFFFF;
      border-bottom: 1px solid white; }
  .first-page .facebook-sign-in {
    background-color: #3b5998;
    color: white; }
    .first-page .facebook-sign-in span {
      font-family: 'Tahoma';
      font-weight: bold;
      font-size: 18px; }
    .first-page .facebook-sign-in:active {
      background-color: #1e2e4f; }
  .first-page .google-sign-in {
    background-color: #dd4b39;
    color: white; }
    .first-page .google-sign-in span {
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 18px; }
    .first-page .google-sign-in:active {
      background-color: #96271a; }
  .first-page .logo {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.icon-large {
  font-size: 28px; }

.same-line {
  margin-top: -40px; }

.bar-custom {
  background-color: #ffa84c; }

.popup-container .popup {
  padding-top: 5px;
  padding-left: 10px;
  background: #fafafa;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3); }
  .popup-container .popup .popup-head {
    text-align: left;
    border: none; }
    .popup-container .popup .popup-head h3 {
      color: #000;
      font-size: 20px; }
  .popup-container .popup .popup-body {
    font-size: 17px;
    color: #737373; }
  .popup-container .popup .popup-buttons {
    text-align: right;
    display: block; }
    .popup-container .popup .popup-buttons .button {
      width: auto;
      display: inline-block;
      -webkit-box-flex: none;
      flex: none;
      color: #2196f3;
      background: transparent;
      text-transform: uppercase;
      font-weight: 500; }
