.first-page {
  background-color: black;
  background-image: url("/img/giphy.gif");
  background-size: 100%;
  background-repeat: no-repeat; }
  .first-page .content {
    margin-top: 30px; }
  .first-page .login-buttons {
    margin-bottom: 20px; }
    .first-page .login-buttons input {
      color: #FFFFFF;
      border-bottom: 1px solid white; }
  .first-page .facebook-sign-in {
    background-color: #3b5998;
    color: white; }
    .first-page .facebook-sign-in span {
      font-family: 'Tahoma';
      font-weight: bold;
      font-size: 18px; }
    .first-page .facebook-sign-in:active {
      background-color: #1e2e4f; }
  .first-page .google-sign-in {
    background-color: #dd4b39;
    color: white; }
    .first-page .google-sign-in span {
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 18px; }
    .first-page .google-sign-in:active {
      background-color: #96271a; }
  .first-page .logo {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.icon-large {
  font-size: 28px; }

.same-line {
  margin-top: -40px; }

.bar-custom {
  background-color: #ffa84c; }
